
  
 {{#if filmeEncontrado}}
 <div class="movieSearch">
    
     {{ filmeEncontrado }}
     
      <div class="filme">
      <h3>{{filmeEncontrado.filme}}</h3> 
    <div class="filmeEncontrado">
        <div class="image"> <img src="/imagens/{{filmeEncontrado.imagem}}" alt="{{filme}}"  ></div>
     <div class="desc">
       <p><strong>Ano:</strong> {{filmeEncontrado.ano}}</p>
       <p><strong>Diretor:</strong> {{filmeEncontrado.diretor}}</p>
       <p><strong>elenco:</strong> {{filmeEncontrado.elenco}}</p>
       <p><strong>Sinopse:</strong> {{filmeEncontrado.sinopse}}</p>
       <p><strong>curiosidades:</strong> {{filmeEncontrado.curiosidades}}</p>
     
     </div>
    </div>
     
    </div>
     {{/if}}
  

 
 </div>

</div>