<div class="movieFound">
   {{#each listaFilmes}}
  <h3>{{filme}}</h3>
    <div class="filmeLista">
      
      <div class="image"> <img src="/imagens/{{imagem}}" alt="{{filme}}" height ="700px"></div>
     <div class="desc">
         <p><strong>Ano:</strong> {{ano}}</p>
         <p><strong>Diretor:</strong> {{diretor}}</p>
         <p><strong>elenco:</strong> {{elenco}}</p>
         <p><strong>Sinopse:</strong> {{sinopse}}</p>
         <p><strong>curiosidades:</strong> {{curiosidades}}</p>
     </div>
     
    </div>
  {{/each}}
 </div>

<div class="inserirFilme">
  <div class="form">
    <form action="/inserir" method="post">
   <h3>INSIRA UM NOVO FILME</h3>
 <div class="inputs">
   <input type="text" name="filme" placeholder="digite o filme" id="filme" required>
  <input type="number" name="ano" placeholder="digite o ano do filme" id="ano" required>
  <input type="text" name="diretor" placeholder="digite o diretor do filme" id="diretor" required>
  <textarea placeholder="Digite a sinopse  aqui..." name="sinopse" id="sinopse" ></textarea>
  <textarea placeholder="Digite as curiosidades aqui..." name="curiosidades" id="curiosidades"></textarea>
  <input type="text" name="elenco" placeholder="digite o elenco do filme" id="elenco" required>
  <input type="text" name="imagem" placeholder="digite o caminho da imagem do filme" id="filme" >
 
 </div>
  <div class="btn">
    <input type="submit" value="enviar">
  </div>
      {{#if success_msg}}
  <div class="alert_success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert_error">{{error_msg}}</div>
{{/if}}
</form>
  </div>

</div>