<div class="listaFilme">
  <div class="listar">
    <h2>LISTA DE TODOS OS FILMES</h2>
    <div class="movieFound">
      {{#each listaFilmes}}
      <div class="filmeLista">
        <div class="image">
          <img src="/imagens/{{imagem}}" alt="{{filme}}">
        </div>
        <div class="desc">
          <h3 class="tituloFilme">{{filme}}</h3>
          <p><strong>Ano:</strong> {{ano}}</p>
          <p><strong>Diretor:</strong> {{diretor}}</p>
          <p><strong>Elenco:</strong> {{elenco}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
